---
- name: create user
  hosts: catalyst8k
  gather_facts: no

  tasks:
    - name: create new users 
      cisco.ios.ios_user:
        name: "{{ item.name }}" 
        configured_password: "{{ item.password }}"
        privilege: "{{ item.privilege }}"
        state: present
      loop: "{{ users }}"  # users is in the host_vars/catalyst8k.yml files
      no_log: true         # The user's password is not displayed when the playbook is run.
